{% extends 'main.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

<div class="header-bar" >
    
    
    <h1>Sign up</h1>
    
   

</div>

<div class="card-body">

<form action="" method="POST">
    {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}

    <label>{{form.password1.label}}</label>
    {{form.password1}}

    <label>{{form.password2.label}}</label>
    {{form.password2}}


    <input style="margin-top:20px" class='button' type="submit" value="signup">
</form>


<p style="color: #cf4949;">Already have an account? <a style="color: #3294f0;text-decoration: none;" href="{% url 'login' %}">login</a></p>

</div>

{% endblock %}

