{% if request.user.is_authenticated %}
    <p>welcome {{request.user}}</p>
    <a href="{% url 'logout' %}">logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}



<br>

<h1>to do list</h1>
{% if count is not 0 %}
<p> you have {{count}} Uncompleted task{{count|pluralize:"s"}}</p>
{% else %}
<p> hooray! You have completed all of your tasks.</p>
{% endif %}

<a href="{% url 'task_create' %}">add task</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="search">

</form>


<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
        <th></th>


    </tr>
    {% for task in tasks %}

    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task_update' task.id %}">Update</a></td>
        <td><a href="{% url 'task_delete' task.id %}">delete</a></td>



    </tr>

    {% empty %}
        <h3> no items in list</h3>
    {% endfor %}

</table>