<h1>to do list</h1>

<a href="{% url 'task_create' %}">add item</a>

<table>
    <tr>
        <th>Items</th>
        <th></th>
        <th></th>
        <th></th>


    </tr>
    {% for task in tasks %}

    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task_update' task.id %}">Update</a></td>
        <td><a href="{% url 'task_delete' task.id %}">delete</a></td>



    </tr>

    {% empty %}
        <h3> no items in list</h3>
    {% endfor %}

</table>